{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-10">
            <form class="form-horizontal" name="researcher-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form1.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form1.first_name.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form1.first_name(class = "form-control", placeholder="Enter First Name", required = False) }}
                    {% if form1.first_name.errors %}
                    <ul class = "errors">
                        {% for error in form1.first_name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form1.last_name.label(class = "form-label") }}
                    {{ form1.last_name(class = "form-control", placeholder="Enter Last Name", required = False) }}
                    {% if form1.last_name.errors %}
                    <ul class = "errors">
                        {% for error in form1.last_name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form1.sex.label(class = "form-label") }}
                    {{ form1.sex(class = "form-control", placeholder="Enter sex", required = False) }}
                    {% if form1.sex.errors %}
                    <ul class = "errors">
                        {% for error in form1.sex.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form1.date_of_birth.label(class = "form-label") }}
                    {{ form1.date_of_birth(class = "form-control", placeholder="Enter date of birth", required = False) }}
                    {% if form1.date_of_birth.errors %}
                    <ul class = "errors">
                        {% for error in form1.date_of_birth.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form1.employment_date.label(class = "form-label") }}
                    {{ form1.employment_date(class = "form-control", placeholder="Enter employment date", required = False) }}
                    {% if form1.employment_date.errors %}
                    <ul class = "errors">
                        {% for error in form1.employment_date.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form1.organisation_name.label(class = "form-label") }}
                    {{ form1.organisation_name(class = "form-control", placeholder="Enter organisation name", required = False) }}
                    {% if form1.organisation_name.errors %}
                    <ul class = "errors">
                        {% for error in form1.organisation_name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}``
                </div>
                {{ form1.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
        </div>
        <!--<div class="col-md-6">
            <form class="form-horizontal" name="researcher-form" method="POST">
                {{ form2.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form2.researcher_id.label(class = "form-label") }}
                    {{ form2.researcher_id(class = "form-control", placeholder="Enter Researcher ID", required = False) }}
                    {% if form2.researcher_id.errors %}
                    <ul class = "errors">
                        {% for error in form2.researcher_id.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </form>
            <form class="form-horizontal" name="works-form" method="POST">
                {{ form2.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form2.title.label(class = "form-label") }}
                    {{ form2.title(class = "form-control", placeholder="Enter Project Title", required = False) }}
                    {% if form2.title.errors %}
                    <ul class = "errors">
                        {% for error in form2.title.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form2.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
        </div> -->
    </div>
</div>
{% endblock content %}
