{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="researcher-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.first_name.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.first_name(class = "form-control", placeholder="Enter First Name", required = False) }}
                    {% if form.first_name.errors %}
                    <ul class = "errors">
                        {% for error in form.first_name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.last_name.label(class = "form-label") }}
                    {{ form.last_name(class = "form-control", placeholder="Enter Last Nname", required = False) }}
                    {% if form.last_name.errors %}
                    <ul class = "errors">
                        {% for error in form.surname.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.sex.label(class = "form-label") }}
                    {{ form.sex(class = "form-control", placeholder="Enter sex", required = False) }}
                    {% if form.sex.errors %}
                    <ul class = "errors">
                        {% for error in form.sex.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.date_of_birth.label(class = "form-label") }}
                    {{ form.date_of_birth(class = "form-control", placeholder="Enter date of birth", required = False) }}
                    {% if form.date_of_birth.errors %}
                    <ul class = "errors">
                        {% for error in form.date_of_birth.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.employment_date.label(class = "form-label") }}
                    {{ form.employment_date(class = "form-control", placeholder="Enter employment date", required = False) }}
                    {% if form.employment_date.errors %}
                    <ul class = "errors">
                        {% for error in form.employment_date.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.organisation_name.label(class = "form-label") }}
                    {{ form.organisation_name(class = "form-control", placeholder="Enter organisation name", required = False) }}
                    {% if form.organisation_name.errors %}
                    <ul class = "errors">
                        {% for error in form.organisation_name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}
