{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container" margin: auto>
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Organisations Query</h4>
                    <p class="card-text" id="paragraph">Organisations with the same number(at least 10) of projects for 2 consecutive years.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Organisation Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in q4 %}
                                    <tr>
                                        <td> {{ researcher.organisation_name }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Hardworking young researchers</h4>
                    <p class="card-text" id="paragraph">Researchers under 40 working the most active projects.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Researcher Name</th>
                                    <th>Number of Active Projects</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in q6 %}
                                    <tr>
                                        <td> {{ researcher.full_name }} </td>
                                        <td> {{ researcher.active_project_number }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Not productive researchers</h4>
                    <p class="card-text" id="paragraph">Researchers working in the 5 or more projects without deliverables.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Researcher Name</th>
                                    <th>Number of Projects</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in q8 %}
                                    <tr>
                                        <td> {{ researcher.full_name }} </td>
                                        <td> {{ researcher.project_num }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row-6">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Spending Executives</h4>
                    <p class="card-text" id="paragraph">Executives who have given the most funds to a company.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Executive Name</th>
                                    <th>Organisation Name</th>
                                    <th>Total Sum</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in q7 %}
                                    <tr>
                                        <td> {{ researcher.executive_name }} </td>
                                        <td> {{ researcher.organisation_name }} </td>
                                        <td> {{ researcher.total_sum }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Multidisciplinary project fields </h4>
                    <p class="card-text" id="paragraph">Scientific Fields sharing the most projects.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Executive Name</th>
                                    <th>Organisation Name</th>
                                    <th>Total Sum</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for researcher in q5 %}
                                    <tr>
                                        <td> {{ researcher.scientificfield1 }} </td>
                                        <td> {{ researcher.scientificfield2 }} </td>
                                        <td> {{ researcher.count }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}