{% extends "global_layout.html" %}
{% block content %}
<div class="container" margin: auto id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Projects per Researcher</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show all projects per researcher</p>
                    <a class="btn btn-primary" id="show-btn" href="/projectperresearcher">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Researchers </h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show all researchers<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Create Researcher</h4>
                    <p class="card-text" id="paragraph">Enter a new Researcher into the database<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/researchers/create">Create</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Facts</h4>
                    <p class="card-text" id="paragraph">Learn more about us!</p>
                    <a class="btn btn-primary" id="show-btn" href="/facts">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                  <h4 class="card-title">Query 1</h4>
                  <p class="card-text" id="paragraph">Select program to see its projects</p>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Programs
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      {% for programs in programs %}
                        <li><a class="dropdown-item" href="/program/'{{programs.program_name}}'">{{programs.program_name}}</a></li>
                      {%endfor%}
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card" id="card-container-layout">
              <div class="card-body" id="card">
                  <h4 class="card-title">Query 3</h4>
                  <p class="card-text" id="paragraph">Projects and researchers on the scientific field you are interested in</p>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" background-color:"var(--bs-red);">
                      Scientific Fields
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      {% for scifields in scifields %}
                            <li><a class="dropdown-item" href="/projectsfield/'{{scifields.scientific_field_name}}'">{{scifields.scientific_field_name}}</a></li>
                      {%endfor%}
                    </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %}
